body {
  font-family: 'Bungee Shade', cursive;
  background-image: url("https://media.giphy.com/media/o0vwzuFwCGAFO/giphy.gif");
}

#container {
  width: 75%;
  margin: 0 auto;
}

#cat-photos div {
  overflow: hidden;
  max-height: 90px;
  margin-top: 10px;
}

img {
  max-width: 130px;
}
